* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(101, 91, 77);
}

#weapper {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

h1 {
  padding: 3%;
  text-align: center;
}

.annonce {
  font-size: larger;
  text-align: center;
}

#grille {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: none;
  background-color: antiquewhite;
  border: inset 1px black;
  box-shadow: 0px 0px 41px 15px rgba(0, 0, 0, 0.91),
    inset 0px 0px 50px -17px rgba(0, 0, 0, 0.91),
    0px -2px 50px 50px rgba(255, 61, 193, 0.49);
  height: 40dvh;
  width: 40dvh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

#grille div {
  border: solid 1px black;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

#navBar {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: rgba(94, 11, 87, 0.76);
  border-left: inset 1px black;
  width: 20%;
  height: 100%;
}

.joueur {
  box-sizing: border-box;
  height: 50%;
  padding-left: 10%;
  overflow: auto;
}

.avatar {
  position: relative;
  height: 15dvh;
  width: 15dvh;
  border-radius: 10px;
  border: solid 1px black;
}

.avatar:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.joueur:first-child {
  border-bottom: solid 1px black;
}

.player1:first-child,
.player2:first-child {
  font-size: x-large;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: -5%;
}

.player1:nth-child(3),
.player2:nth-child(3) {
  font-size: larger;
}

.player1:nth-child(6),
.player2:nth-child(6) {
  font-style: italic;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px rgb(20, 19, 19);
  background-color: #460707d5;
  box-shadow: 25px 25px 15px 5px #000000cc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

h2 {
  padding-bottom: 20px;
}

.red {
  background-color: rgba(113, 23, 23, 0.912);
}

select {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#nom {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

select option {
  padding: 0;
  margin: 0;
  overflow: auto;
}

#soumettre {
  display: block;
}

#soumettre2 {
  display: none;
}

.btn {
  margin: auto;
  margin-top: 2%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

.btn:hover {
  background-color: #922828; /* Nouvelle couleur de fond au survol */
}

.btn:active {
  background-color: #6c1a1a; /* Nouvelle couleur de fond lors de l'activation */
}

@media screen and (max-width: 960px) {
  body,
  #weapper {
    width: 70%;
  }

  #navBar {
    width: 30%;
  }
}

@media screen and (max-width: 540px) {
  body {
    width: 100%;
  }

  #weapper {
    width: 100%;
    height: 70%;
  }

  #navBar {
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: none;
    bottom: 0;
    background-color: rgba(94, 11, 87, 0.76);
    border-left: none;
    border-top: solid 1px black;
    width: 100%;
    height: 30%;
  }

  #grille {
    height: 30dvh;
    width: 30dvh;
  }

  .joueur:first-child {
    border-bottom: none;
    border-right: solid 1px black;
  }

  .joueur {
    margin-left: 0%;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
  }

  .avatar {
    height: 10dvh;
    width: 10dvh;
  }

  .player1:first-child,
  .player2:first-child {
    font-size: large;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -5%;
  }

  .player1:nth-child(3),
  .player2:nth-child(3) {
    font-size: medium;
  }

  .player1:nth-child(n + 4):nth-child(-n + 6),
  .player2:nth-child(n + 4):nth-child(-n + 6) {
    display: none;
    height: 0px;
    width: 0px;
  }
}

.pop span {
  display: inline-block;
  color: red;
  text-align: center;
  animation: pulse 3s infinite;
}

.popReduce span {
  display: inline-block;
  color: rgb(29, 3, 3);
  animation: reduce 3.5s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.9);
  }

  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes reduce {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
