@font-face {

    font-family: 'after_shokregular';
    src: url('fonts/After_Shok-webfont.eot');
    src: url('fonts/After_Shok-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/After_Shok-webfont.woff2') format('woff2'),
         url('fonts/After_Shok-webfont.woff') format('woff'),
         url('fonts/After_Shok-webfont.ttf') format('truetype'),
         url('fonts/After_Shok-webfont.svg#after_shokregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	
	background-color:grey;
	background-image: url("images/wat.jpg");
}

#bloc_page {

	display: flex;
	justify-content: center;
}

#titre_section {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

nav {

display: flex;
width: 250px;
flex-direction: column;
margin-right: 3%;
height: 500px;
background-image: url("images/lodyas.png");
border-radius: 30px;
align-items:center;
}

figure {

	border: 3px grey inset ;
	box-shadow: 6px 6px 4px black;
	background-image: url("images/pic08.jpg");
	text-align: center;
}

article {

    display: inline-block;
    vertical-align: top;
    width: 75%;
    margin-right: 2%;
    margin-left: 2%;
}

section {

	display: flex;
	flex-direction: row;
    width: 90%;
    justify-content:space-around;
    background-image: url('images/pic08.jpg');
    background: rgba(0,0,0,0.8);
}

#liens_titre {

	color: black;
}

#liens_titre:hover {

	color: white;
}

.lien:hover {

	color: white;

}

h1 {

	color: black;
	font-family: after_shokregular,"Arial Black",Arial,Verdana,sans-serif;
	text-align: center;
	text-shadow: 7px 4px 7px black inset;
	border: 3px black outset ;
	border-radius: 2px;
	box-shadow: 6px 6px 4px black;
	background-image: url('images/banner.jpg');
	width: 90%;
}

h1:hover {

color: rgb(145,25,48);
}

h2 {

	color: #535462;
}

h2:hover {

	color: #0f18a3;
}

ul {

	color: #858699;
	list-style-position: inside;
}

ul:hover {

	font-style: oblique;
}

li {

	list-style-type: square;
}

a:visited {

	color: red;
}

@media all and (max-width: 1024px) {

    #bloc_page {

        width: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center;
    }

    section {

		flex-direction: column;  	
	}

	nav {

		width: 90%;
		flex-direction: row;
		height: 35%;
		flex-wrap:wrap;
		justify-content: center;
		margin-top: 2%;
		margin-left: 5%;
	}

	article {

    	width: 80%;
    	margin-left: 5%;
    	margin-right: 0%;
	}

	#titre_section {

		align-items:center;
	}

	#nav_flex {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

}