@media screen and (min-width: 720px){
  .lien{position: absolute; left: 0; right: 20; 
        padding: 5%;
       font-size: 50px;}
    .text{
     font-size: 60px;
  }
  .text:hover{
   font-size: 64px;
}
  #lune.orbite{transform: scale(1);}
    #soleil {
      /*margin-top: 350px;
      margin-left: 150px;*/
      margin-top: 750px;
      margin-left: 450px;
      transform: scale(3);}
      @keyframes pulse {
        /*0%{transform: scale(1);}*/
        05%{transform: scale(3);}
        55%{transform: scale(3.5);}
        65%{transform: scale(3);}
        90%{transform: scale(3);}
        91%{transform: scale(3.2);}
        92%{transform: scale(3.1);}
        93%{transform: scale(2.9);}
        94%{transform: scale(3);}
    }

    #terre{
      /*margin-top: 275px;
      margin-left: 75px;*/
      margin-top: 675px;
      margin-left: 375px;
      transform: scale(3);
  }
  @keyframes orbite_terre {
    from { transform: rotate(180deg) translateY(-125px)scale(3);}
    to { transform: rotate(-180deg) translateY(-125px)scale(3);}
}

#info_soleil{margin-top: 250px;margin-left: 100px;}
#info_terre{margin-top: 250px;margin-left: 300px;}
#info_lune{margin-top: 250px;margin-left: 500px;}
}

@keyframes anim-stars {
from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
#stars1, #stars1:after {
  background: transparent;
  height: 1px;
  width: 1px;
  box-shadow:   743px   46px #FFFFFF,   374px   57px #FFFFFF,   922px  339px #FFFFFF,     7px   57px #FFFFFF,   227px  401px #FFFFFF,   621px  257px #FFFFFF,   797px  395px #FFFFFF,   266px  281px #FFFFFF,   262px  239px #FFFFFF,   918px  425px #FFFFFF,   499px   37px #FFFFFF,   304px  105px #FFFFFF,   441px  166px #FFFFFF,    96px   73px #FFFFFF,   417px  377px #FFFFFF,   781px  141px #FFFFFF,   436px  199px #FFFFFF,   882px  291px #FFFFFF,   205px  458px #FFFFFF,   655px  238px #FFFFFF,    20px  196px #FFFFFF,   677px  247px #FFFFFF,    87px   72px #FFFFFF,   615px  347px #FFFFFF,    22px  301px #FFFFFF,   629px  246px #FFFFFF,   196px  102px #FFFFFF,   492px   91px #FFFFFF,   347px  171px #FFFFFF,   811px  130px #FFFFFF,   665px   66px #FFFFFF,   875px  371px #FFFFFF,   754px  118px #FFFFFF,   687px  189px #FFFFFF,   565px  161px #FFFFFF,   876px  336px #FFFFFF,   285px  463px #FFFFFF,   760px  468px #FFFFFF,   267px  110px #FFFFFF,   273px  232px #FFFFFF,   676px  434px #FFFFFF,   914px   40px #FFFFFF,   138px  185px #FFFFFF,   478px  392px #FFFFFF,   507px  219px #FFFFFF,   628px   86px #FFFFFF,   327px  207px #FFFFFF,   107px  266px #FFFFFF,    97px   98px #FFFFFF,   340px  286px #FFFFFF,    13px    2px #FFFFFF,   383px   38px #FFFFFF,   422px  363px #FFFFFF,   828px  213px #FFFFFF,   394px  198px #FFFFFF,   553px  211px #FFFFFF,   698px   40px #FFFFFF,   116px   26px #FFFFFF,   105px  222px #FFFFFF,   580px  425px #FFFFFF,   838px  457px #FFFFFF,   144px  231px #FFFFFF,   824px   71px #FFFFFF,   950px  152px #FFFFFF,   926px  229px #FFFFFF,   384px  279px #FFFFFF,   246px   47px #FFFFFF,   882px   20px #FFFFFF,   805px  217px #FFFFFF,   758px  400px #FFFFFF,    68px  396px #FFFFFF,   178px  212px #FFFFFF,   310px  437px #FFFFFF,   456px  389px #FFFFFF,    64px  286px #FFFFFF;
}

#stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars1 {
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars2, #stars2:after {
  background: transparent;
  height: 2px;
  width: 2px;
  box-shadow:   568px  475px #d0d0d0,   318px  470px #f5f5f5,   716px  176px #cacaca,   728px  107px #c1c1c1,   274px   31px #e7e7e7,   106px  186px #9e9e9e,   522px  379px #f3f3f3,   232px  342px #ececec,   173px  317px #979797,   243px  200px #acacac,   176px  211px #f2f2f2,    14px  251px #c4c4c4,     8px  133px #f0f0f0,   164px  130px #9d9d9d,   733px  381px #cdcdcd,   776px  385px #989898,   766px  325px #cecece,   116px   21px #f2f2f2,   279px  345px #f6f6f6,   514px  305px #888888,   891px  258px #959595,   699px  306px #a2a2a2,   171px  485px #8d8d8d,    32px  229px #d4d4d4,   407px  376px #e7e7e7,   373px  443px #858585,   552px  138px #bababa,    43px  485px #a8a8a8,   339px  418px #9a9a9a,   261px  471px #fcfcfc,    94px   95px #a4a4a4,   666px  193px #bbbbbb,   462px  479px #e3e3e3,   567px   99px #e1e1e1,    88px  262px #9c9c9c,   332px    5px #f5f5f5,   293px  305px #dfdfdf,    75px  258px #959595,   787px  268px #bbbbbb,     2px  126px #8d8d8d,   247px  404px #f9f9f9,   935px  375px #979797,   962px  499px #cecece,   230px  425px #c0c0c0,   929px  173px #a4a4a4,   220px  154px #aaaaaa,   803px  157px #fbfbfb,   909px  480px #f0f0f0,    78px  196px #838383,   826px  404px #e9e9e9;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars2 {
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars3, #stars3:after {
  background: transparent;
  height: 3px;
  width: 3px;
  box-shadow:   871px  284px #FFFFf5,   586px  201px #FFFFe0,   190px  273px #FFFF9f,   147px  383px #FFFFf1,   719px  275px #FFFFe5,   891px  433px #FFFF89,    49px  202px #FFFFc3,   852px   24px #FFFFa0,   410px  126px #FFFF97,    95px   22px #FFFFee,   535px  283px #FFFFc8,   464px  152px #FFFF95,   736px   28px #FFFFf7,   297px  353px #FFFFe2,   485px  402px #FFFF9f,   700px  424px #FFFFc8,   174px  175px #FFFFb2,   440px  114px #FFFFa5,   412px  402px #FFFFb0,   301px  366px #FFFFbd;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars3 {
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars4, #stars4:after {
  background: transparent;
  height: 4px;
  width: 4px;
  box-shadow:   475px  412px #ade2FF,   550px  365px #fdd8FF,   712px  172px #9cc8FF,   482px  225px #91e2FF,   309px  291px #89e8FF;
}

#stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars4 {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

