@media screen and (min-width: 720px){
  .lien{position: absolute; left: 0; right: 20; 
        padding: 5%;
       font-size: 50px;}
    .text{
     font-size: 60px;
  }
  .text:hover{
   font-size: 64px;
}
    #soleil {
      /*margin-top: 350px;
      margin-left: 150px;*/
      margin-top: 700px;
      margin-left: 450px;
      transform: scale(3);}
      @keyframes pulse {
        /*0%{transform: scale(1);}*/
        05%{transform: scale(3);}
        55%{transform: scale(3.5);}
        65%{transform: scale(3);}
        90%{transform: scale(3);}
        91%{transform: scale(3.2);}
        92%{transform: scale(3.1);}
        93%{transform: scale(2.9);}
        94%{transform: scale(3);}
    }

    #terre{
      /*margin-top: 275px;
      margin-left: 75px;*/
      margin-top: 625px;
      margin-left: 375px;
      transform: scale(3);
  }
  @keyframes orbite_terre {
    from { transform: rotate(180deg) translateY(-125px)scale(3);}
    to { transform: rotate(-180deg) translateY(-125px)scale(3);}
}

#info_soleil{margin-top: 200px;margin-left: 100px;}
#info_terre{margin-top: 200px;margin-left: 300px;}
#info_lune{margin-top: 200px;margin-left: 500px;}
}

/* Cadres Informations PlanÃ¨tes
-------------------------------------------------------------- */


#cadre_terre,
#cadre_soleil,
#cadre_lune{
    width:950px;
    padding:10px;

    font-size:23px;
    margin-left: -150px;
    margin-top: 1250px;

}

#info_terre:hover ~ #cadre_terre,
#info_soleil:hover ~ #cadre_soleil,
#info_lune:hover ~ #cadre_lune{
    opacity: 1;
    margin-left: 50px;
    transition: all 0.4s;
}

@keyframes anim-stars {
from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
#stars1, #stars1:after {
  background: transparent;
  height: 1px;
  width: 1px;
  box-shadow:   193px   900px #FFFFFF,   228px  1785px #FFFFFF,   356px   418px #FFFFFF,   510px   272px #FFFFFF,   600px  1853px #FFFFFF,   801px  1484px #FFFFFF,   408px  1010px #FFFFFF,   439px    23px #FFFFFF,   159px  1191px #FFFFFF,   179px  1826px #FFFFFF,    40px  1044px #FFFFFF,    19px  1210px #FFFFFF,   192px  1866px #FFFFFF,   903px  1696px #FFFFFF,   233px   947px #FFFFFF,   973px  1364px #FFFFFF,   516px   326px #FFFFFF,   153px  1442px #FFFFFF,    60px  1881px #FFFFFF,   690px  1700px #FFFFFF,   213px   797px #FFFFFF,   143px   667px #FFFFFF,    65px   682px #FFFFFF,   399px  1894px #FFFFFF,   555px  1777px #FFFFFF,   579px   424px #FFFFFF,   116px   385px #FFFFFF,   849px  1517px #FFFFFF,   162px  1286px #FFFFFF,   724px    76px #FFFFFF,   319px  1367px #FFFFFF,   258px   953px #FFFFFF,    55px   140px #FFFFFF,   789px  1681px #FFFFFF,   616px   255px #FFFFFF,   891px  1497px #FFFFFF,   392px   297px #FFFFFF,   883px  1704px #FFFFFF,   808px   166px #FFFFFF,   802px   205px #FFFFFF,    60px   678px #FFFFFF,   385px  1828px #FFFFFF,    45px  1304px #FFFFFF,   318px  1645px #FFFFFF,   781px  1550px #FFFFFF,   631px   141px #FFFFFF,   821px   910px #FFFFFF,   656px  1893px #FFFFFF,   643px  1898px #FFFFFF,     8px   134px #FFFFFF,    97px   795px #FFFFFF,   422px  1251px #FFFFFF,   893px  1388px #FFFFFF,   156px    82px #FFFFFF,   323px  1686px #FFFFFF,   584px  1823px #FFFFFF,   104px  1468px #FFFFFF,   789px  1606px #FFFFFF,   318px   511px #FFFFFF,   740px  1361px #FFFFFF,   157px   955px #FFFFFF,   497px   693px #FFFFFF,   400px  1908px #FFFFFF,   279px  1883px #FFFFFF,   272px   143px #FFFFFF,   895px  1741px #FFFFFF,   795px  1283px #FFFFFF,    92px  1710px #FFFFFF,   501px  1813px #FFFFFF,   469px  1104px #FFFFFF,   522px  1309px #FFFFFF,    41px   919px #FFFFFF,   141px   761px #FFFFFF,   104px  1036px #FFFFFF,   661px   922px #FFFFFF;
}

#stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars1 {
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars2, #stars2:after {
  background: transparent;
  height: 2px;
  width: 2px;
  box-shadow:   313px   890px #b8b8b8,   320px  1156px #cbcbcb,   102px  1684px #838383,    49px   371px #dbdbdb,   685px   921px #a4a4a4,   236px   657px #d2d2d2,   142px   864px #f3f3f3,   954px  1484px #d1d1d1,   702px    23px #fbfbfb,   329px  1389px #b6b6b6,   401px   388px #a9a9a9,   316px  1815px #969696,   315px  1986px #ababab,   839px  1095px #d8d8d8,   794px   917px #dcdcdc,   283px   269px #9f9f9f,   385px   817px #b8b8b8,   143px  1750px #b3b3b3,   454px  1977px #eeeeee,   112px  1554px #d6d6d6,   213px  1901px #c7c7c7,   446px   905px #d2d2d2,   654px   480px #a9a9a9,   696px   485px #afafaf,   154px  1109px #f9f9f9,    14px  1252px #c1c1c1,   736px  1664px #9e9e9e,   389px   598px #d1d1d1,    95px  1188px #ececec,   870px  1771px #878787,   611px   251px #f5f5f5,   995px  1276px #a3a3a3,   776px  1908px #808080,   653px   876px #fdfdfd,   334px   702px #f7f7f7,   176px   793px #ececec,   688px   961px #c0c0c0,   985px   405px #d2d2d2,    18px   102px #fefefe,   812px   686px #b9b9b9,   851px   538px #999999,   580px   762px #959595,   867px   945px #bababa,   697px  1496px #878787,   754px   719px #d7d7d7,   830px   609px #d3d3d3,   239px    69px #8f8f8f,   552px  1246px #d6d6d6,   469px   352px #f9f9f9,   212px  1115px #d6d6d6;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars2 {
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars3, #stars3:after {
  background: transparent;
  height: 3px;
  width: 3px;
  box-shadow:   532px    72px #FFFFe7,   732px  1849px #FFFFbc,   961px   398px #FFFFe0,   861px  1369px #FFFFb3,   633px  1395px #FFFFab,    14px   459px #FFFFe4,   815px   316px #FFFF9b,   976px   239px #FFFFa0,   621px   713px #FFFFf8,   660px  1833px #FFFF81,    34px  1407px #FFFF8f,   252px  1671px #FFFFe5,   671px   698px #FFFFab,   564px    93px #FFFFaa,   742px   402px #FFFFbd,   438px  1182px #FFFFa2,   617px  1044px #FFFFc6,   966px   583px #FFFFca,   942px  1871px #FFFFe0,   252px  1169px #FFFFbf;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars3 {
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars4, #stars4:after {
  background: transparent;
  height: 4px;
  width: 4px;
  box-shadow:   910px   850px #bc8cFF,   621px   677px #e8d8FF,   624px   262px #91a3FF,   247px   707px #9ce3FF,   742px   978px #fda8FF;
}

#stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
}

#stars4 {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}
