body {
  background-color: #02080d;
  color: #fff;
  font-family: Calibri;
}

.text {
  position: absolute;
  font-size: 20px;
  transition: 0.5s;
}

.text:hover {
  color: rgb(159, 41, 15);
  font-size: 22px;
  transition: 0.5s;
}
#info_terre:hover ~ #terre.orbite,
#info_lune:hover ~ #terre #planete_terre #lune.orbite {
  border: 1px solid rgb(201, 175, 24);
  transition: 0.5s;
}
.orbite {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  z-index: 0;
}

#soleil {
  position: absolute;
  left: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #f1e767;
  background: radial-gradient(ellipse at center, #f1e767 0%, #fca728 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#fca728',GradientType=1 );
  box-shadow: 0px 0px 25px 0px #ffe240;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#ffe240, Direction=NaN, Strength=25);
  margin-top: 250px;
  margin-left: 550px;
  transition: 0.5s;
  transform: scale(1.5);
}

#info_soleil:hover ~ #soleil {
  animation: pulse 6.6s infinite;
}

@keyframes pulse {
  /*0%{transform: scale(1);}*/
  05% {
    transform: scale(1.5);
  }
  55% {
    transform: scale(2);
  }
  65% {
    transform: scale(1.5);
  }
  90% {
    transform: scale(1.5);
  }
  91% {
    transform: scale(1.7);
  }
  92% {
    transform: scale(1.6);
  }
  93% {
    transform: scale(1.4);
  }
  94% {
    transform: scale(1.5);
  }
}

/* Info PlanÃ¨te */
#info_soleil {
  margin-top: 250px;
  margin-left: 900px;
}
#info_terre {
  margin-top: 300px;
  margin-left: 900px;
}
#info_lune {
  margin-top: 350px;
  margin-left: 900px;
}

#terre {
  position: absolute;
  left: 0;
  width: 250px;
  height: 250px;
  margin-top: 175px;
  margin-left: 475px;
  transform: scale(1.5);
}

#planete_terre {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #499dff;
  animation: orbite_terre 36s linear infinite;
  box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
  margin-top: 120px;
  margin-left: 120px;
}

@keyframes orbite_terre {
  from {
    transform: rotate(180deg) translateY(-125px) scale(1.5);
  }
  to {
    transform: rotate(-180deg) translateY(-125px) scale(1.5);
  }
}

/* Lune
-------------------------------------------------------------- */

#lune {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  margin-left: -6px;
}

#astre_lune {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7c7c7;
  animation: orbite_lune 3s linear infinite;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 8px;
  margin-left: 8px;
}

@keyframes orbite_lune {
  from {
    transform: rotate(-180deg) translateY(-11px);
  }
  to {
    transform: rotate(180deg) translateY(-11px);
  }
}

/* Cadres Informations PlanÃ¨tes
-------------------------------------------------------------- */

#cadre_terre,
#cadre_soleil,
#cadre_lune {
  position: absolute;
  width: 300px;
  padding: 10px;
  background-color: #071924;
  border: 1px solid #24485d;
  border-radius: 3px;
  color: #3a5d72;
  font-size: 13px;
  margin-left: -150px;
  margin-top: 175px;
  opacity: 0;
  display: none;
  transition-duration: 0.4s;
  transition-delay: 0.3s;
}

#info_terre:hover ~ #cadre_terre,
#info_soleil:hover ~ #cadre_soleil,
#info_lune:hover ~ #cadre_lune {
  opacity: 1;
  margin-left: -10px;
  display: block;
  transition: all 0.4s;
}

/*body {
    background: #000;
    overflow: hidden;
}

.star {
    background: #fff;
    position: absolute;
    animation: blinkAnim 5s infinite;
    display: inline;
    height: 100px;
    width: 100px;
    background-color: aqua;
}

@keyframes blinkAnim {
     from { opacity: 1; }
     50%   { opacity: 0; }
     to   { opacity: 1; }
}*/

@keyframes anim-stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
#stars1,
#stars1:after {
  background: transparent;
  height: 1px;
  width: 1px;
  box-shadow: 1088px 758px #ffffff, 969px 291px #ffffff, 570px 597px #ffffff,
    1898px 882px #ffffff, 567px 530px #ffffff, 1542px 2px #ffffff,
    1376px 57px #ffffff, 253px 230px #ffffff, 1699px 593px #ffffff,
    1672px 606px #ffffff, 509px 581px #ffffff, 1750px 588px #ffffff,
    429px 319px #ffffff, 920px 20px #ffffff, 402px 802px #ffffff,
    911px 582px #ffffff, 1887px 45px #ffffff, 155px 751px #ffffff,
    7px 818px #ffffff, 661px 260px #ffffff, 548px 980px #ffffff,
    1623px 884px #ffffff, 185px 508px #ffffff, 1759px 623px #ffffff,
    830px 627px #ffffff, 930px 508px #ffffff, 1801px 953px #ffffff,
    452px 2px #ffffff, 1637px 776px #ffffff, 550px 768px #ffffff,
    749px 685px #ffffff, 723px 953px #ffffff, 1268px 507px #ffffff,
    879px 879px #ffffff, 25px 699px #ffffff, 351px 648px #ffffff,
    372px 614px #ffffff, 157px 170px #ffffff, 1079px 273px #ffffff,
    298px 620px #ffffff, 1365px 382px #ffffff, 881px 514px #ffffff,
    268px 539px #ffffff, 1380px 361px #ffffff, 676px 870px #ffffff,
    599px 565px #ffffff, 323px 439px #ffffff, 1864px 263px #ffffff,
    1624px 659px #ffffff, 642px 351px #ffffff, 1172px 959px #ffffff,
    1767px 85px #ffffff, 1246px 281px #ffffff, 1987px 867px #ffffff,
    336px 389px #ffffff, 743px 615px #ffffff, 1849px 531px #ffffff,
    1830px 722px #ffffff, 18px 994px #ffffff, 687px 519px #ffffff,
    229px 943px #ffffff, 1422px 326px #ffffff, 279px 980px #ffffff,
    1286px 170px #ffffff, 1275px 840px #ffffff, 1237px 334px #ffffff,
    1527px 382px #ffffff, 121px 723px #ffffff, 388px 76px #ffffff,
    1563px 367px #ffffff, 909px 460px #ffffff, 106px 134px #ffffff,
    1118px 121px #ffffff, 1863px 946px #ffffff, 647px 930px #ffffff,
    929px 589px #ffffff, 935px 736px #ffffff, 998px 821px #ffffff,
    1230px 55px #ffffff, 698px 915px #ffffff, 1201px 489px #ffffff,
    845px 376px #ffffff, 231px 100px #ffffff, 1023px 99px #ffffff,
    285px 809px #ffffff, 141px 621px #ffffff, 1890px 638px #ffffff,
    603px 221px #ffffff, 730px 575px #ffffff, 227px 102px #ffffff,
    754px 750px #ffffff, 856px 303px #ffffff, 1209px 265px #ffffff,
    1043px 962px #ffffff, 1219px 412px #ffffff, 1025px 522px #ffffff,
    198px 330px #ffffff, 647px 136px #ffffff, 1056px 497px #ffffff,
    599px 989px #ffffff, 888px 214px #ffffff, 1665px 141px #ffffff,
    139px 963px #ffffff, 1637px 383px #ffffff, 997px 556px #ffffff,
    486px 2px #ffffff, 1218px 110px #ffffff, 1313px 21px #ffffff,
    81px 32px #ffffff, 89px 405px #ffffff, 792px 9px #ffffff,
    1082px 284px #ffffff, 1892px 299px #ffffff, 727px 923px #ffffff,
    304px 737px #ffffff, 1884px 537px #ffffff, 799px 327px #ffffff,
    1675px 521px #ffffff, 135px 495px #ffffff, 1009px 356px #ffffff,
    439px 470px #ffffff, 832px 869px #ffffff, 754px 952px #ffffff,
    1063px 477px #ffffff, 743px 581px #ffffff, 1245px 778px #ffffff,
    1115px 155px #ffffff, 1225px 648px #ffffff, 1637px 518px #ffffff,
    1287px 428px #ffffff, 1650px 607px #ffffff, 267px 466px #ffffff,
    1892px 950px #ffffff, 1890px 202px #ffffff, 483px 246px #ffffff,
    133px 929px #ffffff, 1997px 498px #ffffff, 275px 90px #ffffff,
    941px 957px #ffffff, 1528px 264px #ffffff, 1184px 833px #ffffff,
    519px 608px #ffffff, 1488px 652px #ffffff, 1061px 820px #ffffff,
    1961px 946px #ffffff, 849px 777px #ffffff, 1002px 401px #ffffff,
    58px 838px #ffffff, 368px 702px #ffffff, 980px 533px #ffffff,
    1157px 626px #ffffff, 472px 260px #ffffff, 66px 435px #ffffff,
    405px 680px #ffffff, 1812px 403px #ffffff, 921px 59px #ffffff,
    1441px 137px #ffffff, 1906px 524px #ffffff, 56px 373px #ffffff,
    1771px 196px #ffffff, 72px 47px #ffffff, 681px 237px #ffffff,
    1651px 11px #ffffff, 1566px 108px #ffffff, 197px 905px #ffffff,
    1869px 549px #ffffff, 1054px 119px #ffffff, 753px 52px #ffffff,
    1965px 412px #ffffff, 736px 852px #ffffff, 1034px 407px #ffffff,
    524px 647px #ffffff, 951px 9px #ffffff, 1363px 228px #ffffff,
    511px 719px #ffffff, 271px 817px #ffffff, 574px 334px #ffffff,
    1313px 463px #ffffff, 722px 344px #ffffff, 845px 153px #ffffff,
    1396px 527px #ffffff, 291px 447px #ffffff, 629px 569px #ffffff,
    792px 697px #ffffff, 8px 731px #ffffff, 1515px 307px #ffffff,
    247px 835px #ffffff, 190px 805px #ffffff, 673px 772px #ffffff,
    310px 560px #ffffff, 1407px 399px #ffffff, 441px 478px #ffffff,
    475px 359px #ffffff, 863px 501px #ffffff, 1136px 119px #ffffff,
    1270px 387px #ffffff, 1203px 479px #ffffff, 1490px 389px #ffffff,
    978px 450px #ffffff, 1779px 911px #ffffff, 805px 480px #ffffff,
    534px 575px #ffffff, 1896px 296px #ffffff, 1465px 187px #ffffff,
    1026px 425px #ffffff, 1558px 765px #ffffff, 499px 664px #ffffff,
    894px 42px #ffffff, 1495px 68px #ffffff, 1687px 237px #ffffff,
    698px 177px #ffffff, 617px 642px #ffffff, 1189px 146px #ffffff,
    1197px 998px #ffffff, 1631px 82px #ffffff, 1263px 988px #ffffff,
    1362px 742px #ffffff, 869px 640px #ffffff, 369px 721px #ffffff,
    986px 487px #ffffff, 165px 201px #ffffff, 768px 321px #ffffff,
    1843px 624px #ffffff, 654px 949px #ffffff, 829px 460px #ffffff,
    105px 70px #ffffff, 1375px 937px #ffffff, 1486px 306px #ffffff,
    1240px 911px #ffffff, 29px 920px #ffffff, 1218px 144px #ffffff,
    942px 895px #ffffff, 1976px 389px #ffffff, 606px 177px #ffffff,
    44px 99px #ffffff, 1935px 485px #ffffff, 380px 624px #ffffff,
    349px 585px #ffffff, 1932px 838px #ffffff, 408px 354px #ffffff,
    1349px 982px #ffffff, 1109px 285px #ffffff, 1585px 977px #ffffff,
    1727px 94px #ffffff, 1342px 422px #ffffff, 772px 966px #ffffff,
    1185px 450px #ffffff, 802px 686px #ffffff, 1722px 780px #ffffff,
    1402px 495px #ffffff, 1777px 283px #ffffff, 1641px 398px #ffffff,
    1023px 195px #ffffff, 693px 603px #ffffff, 848px 930px #ffffff,
    1333px 3px #ffffff, 667px 458px #ffffff, 1719px 294px #ffffff,
    1133px 183px #ffffff, 1664px 524px #ffffff, 1877px 347px #ffffff,
    656px 900px #ffffff, 163px 751px #ffffff, 1969px 539px #ffffff,
    1732px 583px #ffffff, 1664px 44px #ffffff, 791px 517px #ffffff,
    325px 225px #ffffff, 1042px 957px #ffffff, 1671px 284px #ffffff,
    1179px 607px #ffffff, 1287px 534px #ffffff, 347px 570px #ffffff,
    1509px 483px #ffffff, 587px 863px #ffffff, 1439px 349px #ffffff,
    1313px 789px #ffffff, 1143px 191px #ffffff, 630px 680px #ffffff,
    129px 319px #ffffff, 1347px 522px #ffffff, 1609px 817px #ffffff,
    356px 156px #ffffff, 1398px 850px #ffffff, 1978px 665px #ffffff,
    1537px 815px #ffffff, 1943px 61px #ffffff, 432px 831px #ffffff,
    502px 993px #ffffff, 688px 980px #ffffff, 1139px 558px #ffffff,
    347px 15px #ffffff, 1391px 393px #ffffff, 570px 22px #ffffff,
    1560px 992px #ffffff, 506px 439px #ffffff, 1837px 165px #ffffff,
    519px 865px #ffffff, 1173px 693px #ffffff, 1676px 311px #ffffff,
    952px 24px #ffffff, 1782px 752px #ffffff, 377px 446px #ffffff,
    1141px 612px #ffffff, 1179px 742px #ffffff, 951px 309px #ffffff,
    1013px 295px #ffffff, 1397px 402px #ffffff, 647px 178px #ffffff,
    242px 333px #ffffff, 628px 833px #ffffff, 517px 600px #ffffff,
    1589px 627px #ffffff, 1076px 535px #ffffff, 1869px 906px #ffffff,
    904px 969px #ffffff, 1144px 822px #ffffff, 388px 962px #ffffff,
    895px 959px #ffffff, 1726px 259px #ffffff, 1669px 769px #ffffff,
    877px 11px #ffffff, 1141px 285px #ffffff, 647px 409px #ffffff,
    364px 556px #ffffff, 464px 490px #ffffff, 1255px 632px #ffffff,
    238px 889px #ffffff, 892px 440px #ffffff, 247px 206px #ffffff,
    901px 6px #ffffff, 698px 852px #ffffff, 518px 615px #ffffff,
    487px 496px #ffffff, 729px 483px #ffffff, 113px 574px #ffffff,
    1177px 820px #ffffff, 97px 551px #ffffff, 325px 942px #ffffff,
    813px 684px #ffffff, 349px 294px #ffffff, 1450px 561px #ffffff,
    1437px 39px #ffffff, 80px 665px #ffffff, 788px 733px #ffffff,
    1519px 848px #ffffff, 1251px 701px #ffffff, 97px 759px #ffffff,
    1296px 894px #ffffff, 1222px 320px #ffffff, 1434px 158px #ffffff,
    972px 895px #ffffff, 1395px 796px #ffffff, 770px 639px #ffffff,
    1853px 596px #ffffff, 183px 397px #ffffff, 798px 706px #ffffff,
    1505px 12px #ffffff, 1520px 777px #ffffff, 436px 208px #ffffff,
    1899px 420px #ffffff, 1221px 994px #ffffff, 1610px 481px #ffffff,
    999px 715px #ffffff, 388px 722px #ffffff, 1917px 663px #ffffff,
    1591px 259px #ffffff, 1512px 444px #ffffff, 882px 924px #ffffff,
    1760px 773px #ffffff, 243px 174px #ffffff, 1774px 477px #ffffff,
    485px 792px #ffffff, 390px 389px #ffffff, 549px 740px #ffffff,
    1380px 384px #ffffff, 1969px 917px #ffffff, 908px 16px #ffffff,
    938px 158px #ffffff, 1782px 87px #ffffff, 1119px 237px #ffffff,
    1520px 59px #ffffff, 239px 476px #ffffff, 104px 940px #ffffff,
    1104px 77px #ffffff, 256px 377px #ffffff, 672px 861px #ffffff,
    9px 895px #ffffff, 1265px 337px #ffffff, 773px 957px #ffffff,
    404px 592px #ffffff, 362px 750px #ffffff, 201px 759px #ffffff,
    1684px 796px #ffffff, 1425px 218px #ffffff, 1077px 380px #ffffff,
    431px 414px #ffffff, 300px 511px #ffffff, 390px 489px #ffffff,
    1471px 46px #ffffff, 1343px 534px #ffffff, 1638px 220px #ffffff,
    834px 789px #ffffff, 1354px 934px #ffffff, 1248px 627px #ffffff,
    1951px 180px #ffffff, 695px 336px #ffffff, 1009px 196px #ffffff,
    353px 659px #ffffff, 182px 960px #ffffff, 174px 50px #ffffff,
    1493px 482px #ffffff, 1031px 595px #ffffff, 1900px 748px #ffffff,
    7px 41px #ffffff, 1129px 774px #ffffff, 353px 101px #ffffff,
    542px 654px #ffffff, 993px 25px #ffffff, 1016px 172px #ffffff,
    1368px 123px #ffffff, 376px 212px #ffffff, 131px 801px #ffffff,
    1666px 52px #ffffff, 772px 210px #ffffff, 767px 543px #ffffff,
    822px 438px #ffffff, 917px 524px #ffffff, 669px 666px #ffffff,
    499px 87px #ffffff, 422px 753px #ffffff, 1054px 384px #ffffff,
    133px 549px #ffffff, 83px 363px #ffffff, 1996px 980px #ffffff,
    1086px 329px #ffffff, 229px 939px #ffffff, 1337px 796px #ffffff,
    1850px 542px #ffffff, 1413px 915px #ffffff, 1112px 494px #ffffff,
    1821px 533px #ffffff, 849px 802px #ffffff, 62px 199px #ffffff,
    858px 800px #ffffff, 1919px 868px #ffffff, 845px 635px #ffffff,
    1178px 593px #ffffff, 805px 595px #ffffff, 240px 745px #ffffff,
    272px 680px #ffffff, 1701px 618px #ffffff, 685px 457px #ffffff,
    1569px 561px #ffffff, 1595px 616px #ffffff, 1636px 597px #ffffff,
    769px 278px #ffffff, 24px 595px #ffffff, 1609px 597px #ffffff,
    430px 835px #ffffff, 1930px 454px #ffffff, 1863px 188px #ffffff,
    1408px 885px #ffffff, 1724px 144px #ffffff, 1147px 8px #ffffff,
    1928px 308px #ffffff, 1827px 45px #ffffff, 1925px 595px #ffffff,
    718px 433px #ffffff, 951px 67px #ffffff, 1895px 528px #ffffff,
    653px 136px #ffffff, 1587px 213px #ffffff, 754px 985px #ffffff,
    881px 501px #ffffff, 1691px 853px #ffffff, 486px 890px #ffffff,
    1975px 602px #ffffff, 845px 379px #ffffff, 1625px 470px #ffffff,
    516px 480px #ffffff, 1783px 245px #ffffff, 1975px 696px #ffffff,
    425px 577px #ffffff, 1528px 127px #ffffff, 427px 654px #ffffff,
    164px 551px #ffffff, 573px 551px #ffffff, 13px 729px #ffffff,
    1300px 933px #ffffff, 695px 7px #ffffff, 1830px 783px #ffffff,
    1409px 275px #ffffff, 767px 71px #ffffff, 290px 955px #ffffff,
    1517px 812px #ffffff, 1718px 288px #ffffff, 639px 972px #ffffff,
    1094px 479px #ffffff, 473px 959px #ffffff, 1881px 398px #ffffff,
    77px 137px #ffffff, 1147px 747px #ffffff, 1908px 193px #ffffff,
    226px 877px #ffffff, 1423px 894px #ffffff, 820px 595px #ffffff,
    861px 690px #ffffff, 932px 747px #ffffff, 59px 659px #ffffff,
    115px 644px #ffffff, 1707px 834px #ffffff, 605px 435px #ffffff,
    230px 41px #ffffff, 1418px 248px #ffffff, 274px 755px #ffffff,
    1249px 120px #ffffff, 311px 760px #ffffff, 128px 427px #ffffff,
    1492px 239px #ffffff, 1342px 398px #ffffff, 1243px 609px #ffffff,
    364px 435px #ffffff, 121px 146px #ffffff, 1494px 342px #ffffff,
    230px 593px #ffffff, 1240px 830px #ffffff, 1596px 926px #ffffff,
    1064px 892px #ffffff, 1668px 177px #ffffff, 188px 556px #ffffff,
    676px 33px #ffffff, 1358px 691px #ffffff, 406px 20px #ffffff,
    171px 127px #ffffff, 1505px 931px #ffffff, 63px 20px #ffffff,
    1580px 575px #ffffff, 549px 636px #ffffff, 807px 693px #ffffff,
    1164px 402px #ffffff, 1664px 421px #ffffff, 1198px 841px #ffffff,
    1865px 684px #ffffff, 1280px 56px #ffffff, 1768px 85px #ffffff,
    1461px 868px #ffffff, 816px 63px #ffffff, 772px 778px #ffffff,
    598px 289px #ffffff, 428px 689px #ffffff, 29px 120px #ffffff,
    192px 500px #ffffff, 845px 850px #ffffff, 744px 636px #ffffff,
    531px 449px #ffffff, 1649px 668px #ffffff, 963px 623px #ffffff,
    1588px 136px #ffffff, 1750px 585px #ffffff, 260px 100px #ffffff,
    377px 143px #ffffff, 1526px 138px #ffffff, 469px 553px #ffffff,
    1576px 824px #ffffff, 687px 347px #ffffff, 1616px 9px #ffffff,
    1275px 885px #ffffff, 106px 880px #ffffff, 1264px 692px #ffffff,
    737px 186px #ffffff, 356px 996px #ffffff, 1599px 159px #ffffff,
    1626px 844px #ffffff, 140px 218px #ffffff, 1237px 826px #ffffff,
    420px 664px #ffffff, 579px 999px #ffffff, 1053px 951px #ffffff,
    1688px 158px #ffffff, 1877px 70px #ffffff, 370px 990px #ffffff,
    220px 312px #ffffff, 625px 685px #ffffff, 926px 686px #ffffff,
    985px 113px #ffffff, 416px 956px #ffffff, 688px 420px #ffffff,
    898px 357px #ffffff, 690px 57px #ffffff, 235px 361px #ffffff,
    1670px 607px #ffffff, 81px 220px #ffffff, 430px 646px #ffffff,
    395px 728px #ffffff, 1319px 10px #ffffff, 1965px 316px #ffffff,
    1933px 637px #ffffff, 622px 454px #ffffff, 1958px 2px #ffffff,
    1720px 434px #ffffff, 1767px 905px #ffffff, 831px 542px #ffffff,
    1631px 756px #ffffff, 118px 51px #ffffff, 751px 544px #ffffff,
    1522px 62px #ffffff, 28px 926px #ffffff, 1204px 838px #ffffff,
    82px 776px #ffffff, 1761px 412px #ffffff, 1293px 202px #ffffff,
    1165px 517px #ffffff, 1648px 974px #ffffff, 1483px 54px #ffffff,
    1542px 394px #ffffff, 1091px 535px #ffffff, 1629px 853px #ffffff,
    1838px 911px #ffffff, 713px 475px #ffffff, 769px 942px #ffffff,
    577px 431px #ffffff, 88px 238px #ffffff, 405px 607px #ffffff,
    50px 883px #ffffff, 1892px 641px #ffffff, 358px 283px #ffffff,
    1723px 499px #ffffff, 1139px 390px #ffffff, 552px 603px #ffffff,
    145px 370px #ffffff, 1928px 951px #ffffff, 753px 585px #ffffff,
    1728px 958px #ffffff, 264px 271px #ffffff, 267px 303px #ffffff,
    992px 655px #ffffff, 1604px 701px #ffffff, 410px 319px #ffffff,
    242px 280px #ffffff, 949px 944px #ffffff, 470px 235px #ffffff,
    1956px 864px #ffffff, 636px 538px #ffffff, 1004px 357px #ffffff,
    1624px 451px #ffffff, 37px 242px #ffffff, 482px 77px #ffffff,
    532px 9px #ffffff, 294px 847px #ffffff, 521px 168px #ffffff,
    1938px 880px #ffffff, 1957px 937px #ffffff, 891px 733px #ffffff,
    244px 717px #ffffff, 1413px 680px #ffffff, 1497px 284px #ffffff,
    1784px 445px #ffffff, 1171px 526px #ffffff, 468px 714px #ffffff,
    113px 647px #ffffff, 1278px 777px #ffffff, 1789px 435px #ffffff,
    1030px 654px #ffffff, 1568px 202px #ffffff, 1476px 347px #ffffff,
    630px 311px #ffffff, 1587px 272px #ffffff, 648px 80px #ffffff,
    939px 525px #ffffff, 1431px 560px #ffffff, 145px 83px #ffffff,
    120px 884px #ffffff, 500px 583px #ffffff, 203px 407px #ffffff,
    1365px 86px #ffffff, 103px 513px #ffffff, 1806px 604px #ffffff,
    1422px 323px #ffffff, 589px 837px #ffffff, 1205px 726px #ffffff,
    559px 475px #ffffff, 1948px 945px #ffffff, 1519px 932px #ffffff,
    544px 765px #ffffff, 427px 196px #ffffff, 1563px 271px #ffffff,
    711px 146px #ffffff, 1372px 251px #ffffff, 1494px 328px #ffffff,
    1300px 534px #ffffff, 1648px 239px #ffffff, 775px 257px #ffffff,
    1044px 263px #ffffff, 1099px 491px #ffffff, 258px 38px #ffffff,
    783px 280px #ffffff, 498px 689px #ffffff, 1196px 115px #ffffff,
    1580px 265px #ffffff, 1541px 135px #ffffff, 200px 75px #ffffff,
    1742px 233px #ffffff, 120px 756px #ffffff, 925px 210px #ffffff,
    1323px 908px #ffffff, 1810px 468px #ffffff, 1655px 521px #ffffff,
    73px 851px #ffffff, 593px 753px #ffffff, 1223px 294px #ffffff,
    1599px 234px #ffffff, 1438px 455px #ffffff, 551px 96px #ffffff,
    1404px 424px #ffffff, 605px 847px #ffffff, 719px 241px #ffffff,
    920px 848px #ffffff, 1493px 460px #ffffff, 779px 538px #ffffff,
    1404px 113px #ffffff, 538px 554px #ffffff, 1677px 910px #ffffff,
    472px 262px #ffffff, 1361px 854px #ffffff, 645px 841px #ffffff,
    1061px 76px #ffffff, 831px 596px #ffffff, 850px 448px #ffffff,
    21px 676px #ffffff, 882px 702px #ffffff, 1922px 252px #ffffff,
    1952px 453px #ffffff, 1101px 395px #ffffff, 697px 511px #ffffff,
    437px 625px #ffffff, 1832px 197px #ffffff, 649px 411px #ffffff,
    266px 117px #ffffff, 926px 592px #ffffff, 198px 871px #ffffff,
    747px 294px #ffffff, 372px 589px #ffffff, 1397px 231px #ffffff,
    422px 290px #ffffff, 1403px 331px #ffffff, 1639px 422px #ffffff,
    212px 99px #ffffff, 81px 86px #ffffff, 388px 308px #ffffff,
    36px 654px #ffffff, 434px 342px #ffffff, 1718px 486px #ffffff,
    1708px 412px #ffffff, 1713px 553px #ffffff, 561px 162px #ffffff,
    915px 43px #ffffff, 1021px 792px #ffffff, 1359px 425px #ffffff,
    1755px 642px #ffffff, 1896px 447px #ffffff, 533px 462px #ffffff,
    1646px 809px #ffffff, 619px 760px #ffffff, 741px 101px #ffffff,
    1197px 185px #ffffff, 1822px 173px #ffffff, 1934px 698px #ffffff,
    986px 703px #ffffff, 1634px 736px #ffffff, 1167px 497px #ffffff,
    1600px 87px #ffffff, 23px 915px #ffffff, 1334px 92px #ffffff,
    1890px 967px #ffffff, 499px 698px #ffffff, 1189px 615px #ffffff,
    109px 69px #ffffff, 1164px 837px #ffffff, 463px 136px #ffffff,
    1918px 98px #ffffff, 1719px 876px #ffffff, 1693px 466px #ffffff,
    713px 183px #ffffff, 475px 451px #ffffff, 1721px 442px #ffffff,
    113px 196px #ffffff, 1628px 373px #ffffff, 11px 775px #ffffff,
    241px 551px #ffffff, 861px 970px #ffffff, 538px 232px #ffffff,
    320px 396px #ffffff, 1514px 34px #ffffff, 1444px 49px #ffffff,
    1563px 241px #ffffff, 1515px 904px #ffffff, 379px 971px #ffffff,
    1753px 233px #ffffff, 1126px 690px #ffffff, 1879px 553px #ffffff,
    1470px 154px #ffffff, 737px 284px #ffffff, 1131px 47px #ffffff,
    704px 76px #ffffff, 1935px 264px #ffffff, 679px 933px #ffffff,
    1965px 52px #ffffff, 339px 618px #ffffff, 1409px 357px #ffffff,
    1276px 273px #ffffff, 1531px 141px #ffffff, 991px 589px #ffffff,
    5px 452px #ffffff, 1234px 522px #ffffff, 736px 360px #ffffff,
    472px 407px #ffffff, 1513px 305px #ffffff, 996px 640px #ffffff,
    1719px 514px #ffffff, 472px 759px #ffffff, 1962px 514px #ffffff,
    1471px 882px #ffffff, 717px 432px #ffffff, 1458px 479px #ffffff,
    229px 250px #ffffff, 1808px 347px #ffffff, 1246px 878px #ffffff,
    324px 155px #ffffff, 12px 821px #ffffff, 351px 218px #ffffff,
    1845px 157px #ffffff, 1460px 628px #ffffff, 737px 239px #ffffff,
    1174px 362px #ffffff, 1566px 347px #ffffff, 951px 250px #ffffff,
    876px 517px #ffffff, 1567px 260px #ffffff, 1728px 90px #ffffff,
    914px 96px #ffffff, 1346px 324px #ffffff, 1300px 611px #ffffff,
    1737px 601px #ffffff, 789px 716px #ffffff, 220px 781px #ffffff,
    1171px 962px #ffffff, 492px 74px #ffffff, 468px 99px #ffffff,
    1009px 457px #ffffff, 1480px 620px #ffffff, 85px 614px #ffffff,
    1650px 236px #ffffff, 54px 707px #ffffff, 689px 328px #ffffff,
    1962px 964px #ffffff, 184px 495px #ffffff, 620px 42px #ffffff,
    556px 761px #ffffff, 692px 362px #ffffff, 1876px 900px #ffffff,
    217px 333px #ffffff, 764px 165px #ffffff, 542px 390px #ffffff,
    1365px 677px #ffffff, 774px 826px #ffffff, 770px 213px #ffffff,
    1785px 813px #ffffff, 1809px 459px #ffffff, 1537px 607px #ffffff,
    975px 671px #ffffff, 908px 355px #ffffff, 1191px 255px #ffffff,
    327px 478px #ffffff, 403px 828px #ffffff, 525px 940px #ffffff,
    463px 537px #ffffff, 550px 329px #ffffff, 1521px 38px #ffffff,
    1187px 47px #ffffff, 1791px 156px #ffffff, 1308px 69px #ffffff,
    1354px 320px #ffffff, 1609px 744px #ffffff, 1001px 703px #ffffff,
    1298px 206px #ffffff, 1689px 928px #ffffff, 1530px 501px #ffffff,
    480px 403px #ffffff, 1447px 667px #ffffff, 1825px 98px #ffffff,
    159px 433px #ffffff, 581px 654px #ffffff, 640px 190px #ffffff,
    1093px 709px #ffffff, 1666px 695px #ffffff, 622px 752px #ffffff,
    254px 411px #ffffff, 977px 436px #ffffff, 1556px 796px #ffffff,
    1415px 352px #ffffff, 1018px 317px #ffffff, 46px 807px #ffffff,
    348px 724px #ffffff, 1087px 938px #ffffff, 150px 378px #ffffff,
    191px 986px #ffffff, 956px 459px #ffffff, 1004px 440px #ffffff,
    1060px 578px #ffffff, 1211px 222px #ffffff, 621px 715px #ffffff,
    915px 830px #ffffff, 901px 924px #ffffff, 1673px 930px #ffffff,
    1989px 617px #ffffff, 187px 588px #ffffff, 1774px 439px #ffffff,
    1235px 717px #ffffff, 1100px 505px #ffffff, 582px 194px #ffffff,
    1923px 965px #ffffff, 734px 119px #ffffff, 843px 349px #ffffff,
    1737px 548px #ffffff, 1718px 978px #ffffff, 208px 176px #ffffff,
    1371px 529px #ffffff, 1342px 984px #ffffff, 147px 184px #ffffff,
    1907px 879px #ffffff, 1873px 453px #ffffff, 1172px 485px #ffffff,
    197px 355px #ffffff, 847px 30px #ffffff, 1427px 686px #ffffff,
    1863px 533px #ffffff, 782px 73px #ffffff, 1107px 286px #ffffff,
    1512px 265px #ffffff, 866px 642px #ffffff, 35px 305px #ffffff,
    168px 253px #ffffff, 657px 515px #ffffff, 1545px 38px #ffffff,
    1762px 676px #ffffff, 1294px 759px #ffffff, 1156px 105px #ffffff,
    950px 825px #ffffff, 1510px 117px #ffffff, 122px 300px #ffffff,
    1189px 655px #ffffff, 1801px 299px #ffffff, 740px 539px #ffffff,
    170px 828px #ffffff, 405px 789px #ffffff, 1985px 440px #ffffff,
    1075px 355px #ffffff, 226px 388px #ffffff, 840px 728px #ffffff,
    1323px 678px #ffffff, 1235px 331px #ffffff, 978px 594px #ffffff,
    1679px 291px #ffffff, 1178px 620px #ffffff, 306px 207px #ffffff,
    1992px 482px #ffffff, 10px 667px #ffffff, 231px 228px #ffffff,
    1304px 50px #ffffff, 814px 791px #ffffff, 161px 853px #ffffff,
    572px 794px #ffffff, 1057px 43px #ffffff, 996px 327px #ffffff,
    831px 625px #ffffff, 1169px 11px #ffffff, 1825px 273px #ffffff,
    317px 87px #ffffff, 950px 203px #ffffff, 829px 222px #ffffff,
    1401px 257px #ffffff, 502px 442px #ffffff, 1622px 252px #ffffff,
    677px 943px #ffffff, 803px 176px #ffffff, 188px 441px #ffffff,
    722px 964px #ffffff, 1372px 957px #ffffff, 1474px 652px #ffffff,
    1949px 639px #ffffff, 195px 638px #ffffff, 1464px 254px #ffffff,
    1707px 955px #ffffff, 1368px 516px #ffffff, 1625px 345px #ffffff,
    613px 425px #ffffff, 1360px 177px #ffffff, 1643px 420px #ffffff,
    943px 184px #ffffff;
}

#stars1:after {
  content: " ";
  position: absolute;
  top: 1000px;
}

#stars1 {
  animation-duration: 500s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars2,
#stars2:after {
  background: transparent;
  height: 2px;
  width: 2px;
  box-shadow: 1076px 335px #b1b1b1, 1811px 74px #848484, 426px 176px #909090,
    1803px 317px #e1e1e1, 1553px 499px #a0a0a0, 1688px 98px #979797,
    1952px 698px #e4e4e4, 363px 558px #8a8a8a, 780px 769px #e5e5e5,
    1418px 809px #898989, 18px 501px #b8b8b8, 747px 150px #dcdcdc,
    475px 92px #848484, 863px 280px #c5c5c5, 609px 359px #d1d1d1,
    579px 796px #b6b6b6, 208px 290px #c1c1c1, 1292px 273px #f1f1f1,
    418px 74px #dddddd, 1953px 172px #dddddd, 197px 988px #8b8b8b,
    623px 467px #919191, 1877px 196px #d9d9d9, 334px 288px #8f8f8f,
    51px 323px #808080, 1050px 422px #868686, 1922px 287px #929292,
    200px 906px #e2e2e2, 1836px 470px #e1e1e1, 1956px 586px #9b9b9b,
    1694px 190px #fdfdfd, 161px 736px #c7c7c7, 990px 854px #fefefe,
    736px 28px #a7a7a7, 459px 376px #8b8b8b, 581px 766px #aaaaaa,
    1599px 787px #a1a1a1, 599px 671px #d1d1d1, 439px 90px #808080,
    80px 189px #e6e6e6, 454px 472px #bababa, 1358px 654px #c3c3c3,
    768px 247px #dddddd, 18px 712px #c3c3c3, 1517px 291px #aeaeae,
    1165px 125px #c3c3c3, 635px 985px #a0a0a0, 1889px 726px #ececec,
    440px 703px #fdfdfd, 965px 226px #e2e2e2, 1427px 166px #f5f5f5,
    1916px 907px #e1e1e1, 1882px 585px #a4a4a4, 164px 607px #e5e5e5,
    355px 416px #e9e9e9, 1898px 915px #9b9b9b, 1576px 357px #fbfbfb,
    1543px 990px #f7f7f7, 859px 281px #f7f7f7, 288px 52px #c3c3c3,
    316px 859px #efefef, 1485px 8px #d5d5d5, 1574px 532px #8d8d8d,
    1768px 71px #bdbdbd, 499px 935px #a0a0a0, 1156px 364px #9b9b9b,
    22px 921px #ededed, 903px 482px #a4a4a4, 1361px 30px #b2b2b2,
    613px 616px #929292, 155px 650px #cecece, 1069px 555px #bdbdbd,
    1772px 923px #b0b0b0, 737px 767px #9c9c9c, 212px 339px #8f8f8f,
    1008px 932px #d2d2d2, 610px 818px #bebebe, 160px 278px #8a8a8a,
    105px 706px #868686, 205px 529px #999999, 1253px 989px #9e9e9e,
    1502px 12px #bfbfbf, 208px 913px #9f9f9f, 1434px 807px #838383,
    76px 375px #a1a1a1, 1185px 12px #f8f8f8, 1816px 220px #e8e8e8,
    1920px 393px #a1a1a1, 1968px 446px #acacac, 485px 325px #bfbfbf,
    1187px 582px #f5f5f5, 1184px 996px #d7d7d7, 943px 906px #d3d3d3,
    1346px 576px #9e9e9e, 1833px 840px #e1e1e1, 1851px 322px #c1c1c1,
    239px 110px #8b8b8b, 1461px 252px #eaeaea, 1640px 923px #9c9c9c,
    424px 723px #949494, 795px 970px #8e8e8e, 1255px 565px #939393,
    1916px 680px #d6d6d6, 378px 201px #e8e8e8, 114px 890px #bebebe,
    1449px 87px #b5b5b5, 974px 911px #e5e5e5, 860px 827px #a6a6a6,
    236px 24px #8f8f8f, 581px 578px #828282, 1026px 701px #a8a8a8,
    1103px 51px #a6a6a6, 438px 864px #8b8b8b, 1999px 711px #828282,
    1504px 145px #d8d8d8, 274px 275px #bbbbbb, 434px 328px #f6f6f6,
    260px 550px #bbbbbb, 643px 144px #9c9c9c, 1835px 307px #929292,
    1491px 521px #b7b7b7, 930px 312px #fcfcfc, 1934px 242px #cbcbcb,
    1857px 494px #929292, 531px 282px #bdbdbd, 1938px 306px #acacac,
    1997px 52px #aeaeae, 827px 981px #9c9c9c, 1828px 776px #f6f6f6,
    1026px 203px #c9c9c9, 578px 291px #f8f8f8, 1694px 681px #bfbfbf,
    897px 930px #808080, 1202px 928px #acacac, 1781px 929px #f7f7f7,
    779px 457px #929292, 1686px 104px #fafafa, 1529px 981px #b5b5b5,
    1787px 219px #aeaeae, 1496px 501px #e2e2e2, 1184px 529px #b9b9b9,
    1560px 534px #d8d8d8, 738px 885px #a0a0a0, 785px 982px #ababab,
    1068px 374px #888888, 1056px 651px #969696, 1136px 38px #ababab,
    155px 46px #848484, 1144px 982px #8f8f8f, 111px 27px #969696,
    427px 518px #cfcfcf, 1567px 372px #aaaaaa, 561px 889px #fefefe,
    1511px 925px #f1f1f1, 972px 101px #8e8e8e, 1275px 422px #d0d0d0,
    1621px 929px #eeeeee, 1858px 851px #959595, 1147px 235px #a1a1a1,
    398px 266px #b7b7b7, 1984px 182px #acacac, 1024px 248px #eaeaea,
    111px 240px #fbfbfb, 1884px 109px #868686, 916px 175px #9f9f9f,
    378px 602px #dbdbdb, 911px 273px #f5f5f5, 1408px 700px #8c8c8c,
    678px 132px #fafafa, 337px 111px #ececec, 1604px 453px #828282,
    540px 996px #9d9d9d, 1380px 89px #969696, 1754px 5px #bdbdbd,
    1658px 656px #bbbbbb, 494px 238px #c3c3c3, 280px 789px #828282,
    497px 298px #dcdcdc, 627px 4px #f4f4f4, 657px 578px #bbbbbb,
    991px 551px #e0e0e0, 1184px 504px #979797, 1145px 61px #c5c5c5,
    956px 140px #8d8d8d, 962px 586px #eaeaea, 1098px 388px #aaaaaa,
    1329px 879px #d2d2d2, 1019px 478px #e5e5e5, 1998px 795px #f6f6f6,
    129px 326px #b7b7b7, 656px 271px #a8a8a8, 669px 540px #d9d9d9,
    844px 395px #8c8c8c, 376px 690px #b7b7b7, 181px 273px #888888,
    11px 637px #929292, 759px 637px #dadada, 1317px 381px #a2a2a2,
    428px 951px #b4b4b4, 879px 550px #aeaeae, 173px 853px #d8d8d8,
    310px 257px #b3b3b3, 476px 561px #8a8a8a, 1022px 228px #d9d9d9,
    1994px 671px #cecece, 1205px 242px #b6b6b6, 481px 797px #8e8e8e,
    991px 373px #bebebe, 1059px 345px #9c9c9c, 964px 959px #f1f1f1,
    1406px 740px #999999, 1295px 973px #cecece, 439px 540px #aaaaaa,
    1581px 96px #cbcbcb, 319px 348px #838383, 222px 936px #aaaaaa,
    193px 836px #858585, 1203px 851px #919191, 390px 763px #ededed,
    1072px 856px #f1f1f1, 490px 287px #f3f3f3, 1797px 598px #a1a1a1,
    1257px 377px #b8b8b8, 1705px 903px #969696, 1288px 977px #c3c3c3,
    48px 885px #f2f2f2, 1852px 442px #bcbcbc, 1085px 377px #f7f7f7,
    1908px 741px #e5e5e5, 390px 139px #f4f4f4, 1901px 895px #f9f9f9,
    1846px 377px #f5f5f5, 237px 949px #bfbfbf, 1060px 963px #b7b7b7,
    1112px 706px #acacac, 922px 153px #e3e3e3, 864px 273px #c6c6c6,
    1684px 314px #f2f2f2, 1380px 56px #f1f1f1, 21px 751px #a4a4a4,
    263px 67px #8e8e8e, 1919px 511px #9e9e9e, 1405px 393px #efefef,
    1648px 826px #c2c2c2, 1858px 549px #f3f3f3, 638px 848px #b2b2b2,
    1902px 21px #e1e1e1, 985px 9px #c3c3c3, 1185px 681px #959595,
    668px 126px #b5b5b5;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 1000px;
}

#stars2 {
  animation-duration: 400s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars3,
#stars3:after {
  background: transparent;
  height: 3px;
  width: 3px;
  box-shadow: 1915px 278px #ffffcb, 1181px 909px #ffff98, 1282px 398px #ffff92,
    1449px 290px #ffff9a, 902px 622px #ffff88, 1422px 999px #ffffb5,
    194px 9px #ffff88, 187px 861px #ffff9b, 1674px 416px #ffffb6,
    1647px 319px #ffffc9, 1128px 173px #ffffd4, 325px 501px #ffffdc,
    723px 47px #ffff81, 1877px 653px #ffff94, 767px 328px #fffff5,
    507px 8px #fffffa, 694px 209px #ffff88, 1822px 318px #ffffcc,
    490px 910px #fffff2, 892px 595px #ffff8e, 430px 966px #ffff9f,
    1619px 630px #ffff95, 1139px 220px #ffffe1, 941px 439px #ffffa8,
    1226px 467px #ffffbc, 527px 251px #ffff8f, 1525px 964px #ffffd8,
    705px 428px #fffffa, 293px 996px #ffffbc, 496px 820px #ffffde,
    635px 608px #ffffd7, 1626px 634px #ffffea, 1122px 329px #ffff9c,
    1625px 469px #ffff9f, 352px 18px #ffff9e, 1443px 211px #ffffef,
    1550px 446px #ffffb9, 1129px 28px #fffffd, 446px 491px #ffff89,
    580px 582px #ffffa6, 754px 279px #ffff98, 688px 183px #ffffcc,
    1106px 330px #ffffe8, 843px 31px #ffffdd, 391px 335px #ffffb5,
    1077px 948px #fffffb, 1827px 446px #fffff3, 1103px 811px #ffff9a,
    1959px 405px #ffffd6, 254px 487px #ffffd7;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 1000px;
}

#stars3 {
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}

#stars4,
#stars4:after {
  background: transparent;
  height: 4px;
  width: 4px;
  box-shadow: 660px 138px #e5c0ff, 568px 236px #abedff, 1801px 334px #87f3ff,
    1429px 164px #8481ff, 1440px 80px #cdd8ff;
}

#stars4:after {
  content: " ";
  position: absolute;
  top: 1000px;
}

#stars4 {
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-name: anim-stars;
  animation-timing-function: linear;
}
